## Çode

# Do not package in source code.
# By courtesy of https://stackoverflow.com/a/50062746
/.gitattributes export-ignore
/.gitconfig export-ignore

## Language stats

# Beside .pl and .xml, file extensions are only used for syntactic highlighting and interoperability.
# See /linux-chromeos/readme.md.
/linux-chromeos/** -linguist-detectable

## False positives

# This is meant to prevent GitHub from claiming text files are binary.
# By courtesy of https://stackoverflow.com/questions/777949/can-i-make-git-recognize-a-utf-16-file-as-text
*.reg diff
*.reg diff=localizablestrings
